volumes:
  adventurizr:
    external: true

services:
  fastapi:
    environment:
      CORS_HOST: http://localhost:3000
      DATABASE_URL: postgresql://adventurizruser:adventurizr@database/adventurizrdb
      SIGNING_KEY: b9fb50cd67d3228d127575b4e5d380347955046afe9cb94bd
      WAIT HOST$: db:5432
      PORT: 8000
      WAIT BEFORE: 5
      WAIT_TIMEOUT: 60
    build:
      context: api
      dockerfile: Dockerfile.dev
    ports:
      - 8000:8000
    volumes:
      - ./api:/app

  database:
    image: postgres:14.5-bullseye
    volumes:
        - adventurizr:/var/lib/postgresql/data
    environment:
        POSTGRES_USER: adventurizruser
        POSTGRES_PASSWORD: adventurizr
        POSTGRES_DB: adventurizrdb
    ports:
        - 15432:5432

  ghi:
    image: node:lts-bullseye
    command: /bin/bash run.sh
    working_dir: /app
    volumes:
      - ./ghi:/app
    ports:
      - "3000:3000"
    environment:
      HOST_OS: ${OS}
      NODE_ENV: development
      HOST: "0.0.0.0"
      PUBLIC_URL: http://localhost:3000
      REACT_APP_API_HOST: ${REACT_APP_API_HOST}
