@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.topnav {
  margin: 0;
  padding: 10px 20px;
  color: whitesmoke;
  text-decoration: none;
  display: inline-block; /* Set inline-block for a tag */
}


.backcolor {
  background-color: lightsalmon;
}


.divspace {
  margin-bottom: 0px;;
  padding:20px;
}


.divlargespace {

  padding: 60px 35px;

}

.divmedspace {
  padding: 15px 150px
}

.divsmallspace {
  padding: 4px;
}

h1 {
    color: black;
}


.black-txt {
  color: black;
  font-weight: normal;

}

.black-txtlarge {
  color: black;
  font-size: 25px;
  font-weight: normal;
}

.lightblack-txt {
  color: black;
  font-weight: light;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.alert-container {
  position: fixed;
  right: 0;
  color: green;
  padding: 10px;
  width: 300px;
  height: 150px;
}

.draft-table {
  background: #47C3A5;
  color: whitesmoke;
  font-weight: bold;
  font-size: large
}
